/* 
these styles apply base styles to index.html
but all components will be styled using styled-components
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    background: black;
    height: 100%;
}
a {
    color: #af1bf3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus-visible {
    outline: 3px solid;
}
body {
    height: 100%;
}
main {
    height: 100%;
}